GTAS/GridTalk/data/sys/validation/schema/0A1FailureNotificationMessageGuideline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!-- <xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified"> -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="ActionIdentity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalBusinessActionCode"/>
				<xsd:element ref="VersionIdentifier"/>
				<xsd:element ref="InstanceIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BusinessDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalBusinessIdentifier"/>
				<xsd:element ref="GlobalSupplyChainCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CommunicationsNumber">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contactName"/>
				<xsd:element ref="telephoneNumber"/>
				<xsd:element ref="EmailAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateTimeStamp">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="13"/>
				<xsd:maxLength value="20"/>
				<xsd:pattern value="\d{8}\p{L}\d{6}\.\d{3}\p{L}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EmailAddress">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreeFormText">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="nonEmptyString">
					<xsd:attribute ref="xml:lang"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="nonEmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="GlobalBusinessActionCode" type="xsd:string"/>
	<xsd:element name="GlobalBusinessIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="\d{9}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalDocumentFunctionCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:enumeration value="Request"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalPartnerClassificationCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalPartnerRoleClassificationCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalProcessCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalProcessIndicatorCode" type="xsd:string"/>
	<xsd:element name="GlobalSupplyChainCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:enumeration value="Information Technology"/>
				<xsd:enumeration value="Electronic Components"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalTransactionCode" type="xsd:string"/>
	<xsd:element name="InstanceIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PartnerDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalPartnerClassificationCode"/>
				<xsd:element ref="BusinessDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartnerRoleDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalPartnerRoleClassificationCode"/>
				<xsd:element ref="PartnerDescription"/>
				<xsd:element ref="ContactInformation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Pip0A1FailureNotification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="reason"/>
				<xsd:element ref="ProcessIdentity"/>
				<xsd:element ref="TransactionIdentity"/>
				<xsd:element ref="ActionIdentity"/>
				<xsd:element ref="fromRole"/>
				<xsd:element ref="toRole"/>
				<xsd:element ref="thisDocumentGenerationDateTime"/>
				<xsd:element ref="thisDocumentIdentifier"/>
				<xsd:element ref="GlobalDocumentFunctionCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProcessIdentity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalProcessCode"/>
				<xsd:element ref="VersionIdentifier"/>
				<xsd:element ref="GlobalProcessIndicatorCode"/>
				<xsd:element ref="InstanceIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProprietaryDocumentIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TransactionIdentity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalTransactionCode"/>
				<xsd:element ref="InstanceIdentifier"/>
				<xsd:element ref="description"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VersionIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="contactName">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FreeFormText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="description">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FreeFormText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fromRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnerRoleDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="reason">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FreeFormText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="telephoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommunicationsNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="thisDocumentGenerationDateTime">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateTimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="thisDocumentIdentifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ProprietaryDocumentIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="toRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnerRoleDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
