GTAS/GridTalk/data/sys/validation/schema/ExceptionMessageGuideline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Wang Khong Hai (private) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="BusinessDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalBusinessIdentifier" minOccurs="0"/>
				<xsd:element ref="GlobalSupplyChainCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CommunicationsNumber">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contactName" minOccurs="0"/>
				<xsd:element ref="EmailAddress" minOccurs="0"/>
				<xsd:element ref="telephoneNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EmailAddress">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Exception">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fromRole" minOccurs="0"/>
				<xsd:element ref="reason"/>
				<xsd:element ref="theMessageDatetime"/>
				<xsd:element ref="theOffendingDocumentDateTime" minOccurs="0"/>
				<xsd:element ref="theOffendingDocumentIdentifier" minOccurs="0"/>
				<xsd:element ref="thisMessageIdentifier"/>
				<xsd:element ref="toRole" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FreeFormText">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="nonEmptyString">
					<xsd:attribute ref="xml:lang"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="nonEmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="GlobalPartnerClassificationCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalPartnerRoleClassificationCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalSupplyChainCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PartnerDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BusinessDescription" minOccurs="0"/>
				<xsd:element ref="GlobalPartnerClassificationCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartnerRoleDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContactInformation" minOccurs="0"/>
				<xsd:element ref="GlobalPartnerRoleClassificationCode" minOccurs="0"/>
				<xsd:element ref="PartnerDescription" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProprietaryDocumentIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProprietaryMessageIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="contactName">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FreeFormText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fromRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnerRoleDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="reason">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FreeFormText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="telephoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommunicationsNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="theMessageDatetime">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateTimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="theOffendingDocumentDateTime">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateTimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="theOffendingDocumentIdentifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ProprietaryDocumentIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="thisMessageIdentifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ProprietaryMessageIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="toRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnerRoleDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlobalBusinessIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="9"/>
				<xsd:pattern value="\d{9}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DateTimeStamp">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="20"/>
				<xsd:maxLength value="20"/>
				<xsd:pattern value="\d{8}&#x0054;\d{6}\.\d{3}&#x005a;"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
