GTAS/GridTalk/data/sys/validation/schema/PreamblePartMessageGuideline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Wang Khong Hai (private) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="DateTimeStamp">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="13"/>
				<xsd:maxLength value="20"/>
				<xsd:pattern value="\d{8}&#x0054;\d{6}\.\d{3}&#x005a;"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalAdministeringAuthorityCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:enumeration value="RosettaNet"/>
				<xsd:enumeration value="CIDX"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalUsageCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:enumeration value="Test"/>
				<xsd:enumeration value="Production"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Preamble">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateTimeStamp"/>
				<xsd:element ref="GlobalAdministeringAuthorityCode"/>
				<xsd:element ref="GlobalUsageCode"/>
				<xsd:element ref="VersionIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VersionIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
