GTAS/GridTalk/data/sys/validation/schema/ReceiptAcknowledgementMessageGuideline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Wang Khong Hai (private) -->
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="BusinessDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalBusinessIdentifier"/>
				<xsd:element ref="GlobalSupplyChainCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CommunicationsNumber">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contactName"/>
				<xsd:element ref="EmailAddress"/>
				<xsd:element ref="telephoneNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EmailAddress">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FreeFormText">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="nonEmptyString">
					<xsd:attribute ref="xml:lang"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="nonEmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="GlobalDigestAlgorithmCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:enumeration value="SHA1"/>
				<xsd:enumeration value="MD5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalPartnerClassificationCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalPartnerRoleClassificationCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="GlobalSupplyChainCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NonRepudiationInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GlobalDigestAlgorithmCode"/>
				<xsd:element ref="OriginalMessageDigest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OriginalMessageDigest">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PartnerDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BusinessDescription"/>
				<xsd:element ref="GlobalPartnerClassificationCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartnerRoleDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContactInformation" minOccurs="0"/>
				<xsd:element ref="GlobalPartnerRoleClassificationCode"/>
				<xsd:element ref="PartnerDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProprietaryDocumentIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProprietaryMessageIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReceiptAcknowledgement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fromRole"/>
				<xsd:element ref="NonRepudiationInformation" minOccurs="0"/>
				<xsd:element ref="receivedDocumentDateTime"/>
				<xsd:element ref="receivedDocumentIdentifier"/>
				<xsd:element ref="thisMessageDateTime"/>
				<xsd:element ref="thisMessageIdentifier"/>
				<xsd:element ref="toRole"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="contactName">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="FreeFormText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fromRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnerRoleDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="receivedDocumentDateTime">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateTimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="receivedDocumentIdentifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ProprietaryDocumentIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="telephoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommunicationsNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="thisMessageDateTime">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DateTimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="thisMessageIdentifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ProprietaryMessageIdentifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="toRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartnerRoleDescription"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GlobalBusinessIdentifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="9"/>
				<xsd:pattern value="\d{9}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DateTimeStamp">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="20"/>
				<xsd:maxLength value="20"/>
				<xsd:pattern value="\d{8}&#x0054;\d{6}\.\d{3}&#x005a;"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
